body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    z-index: 10; 
}

#canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    z-index: 0; 
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.button-container {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    justify-items: center;
}

/* First Row: QWERTY (6 buttons) */
.qwerty-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 10px; 
}

/* Second Row: ASDFGH (6 buttons) */
.asdfgh-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 10px;
}

/* Third Row: ZXCVB (5 buttons) */
.zxcvb-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; 
}

.symmetry-button {
    width: 60px; 
    height: 60px; 
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.symmetry-button .orbifold-signature {
    font-size: 14px;
    margin-top: 4px; 
}

.symmetry-button:hover {
    background-color: #0056b3;
}

.correct-guess {
    background-color: rgb(95, 182, 95) !important;
    transition: background-color 0.1s;
}

.incorrect-guess {
    background-color: rgb(156, 57, 57) !important;
    transition: background-color 0.1s;
}

.control-container {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#minute-challenge-button, #info-button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#minute-challenge-button:hover, #info-button:hover {
    background-color: #0056b3;
}

.checkbox-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container label {
    margin-right: 10px;
    font-size: 16px;
    color: white;
}

#challenge-info-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Arial, sans-serif;
    align-items: center;
}

#challenge-info-box p {
    margin: 5px 0; 
    color: white;
    font-size: 20px;
}

#score-announcement-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 20; 
    color: white;
    font-family: Arial, sans-serif;
}

#final-score-text {
    font-size: 32px;
    margin: 0;
}

.hidden {
    display: none !important;
}


.container, .control-container {
    transition: opacity 2s ease; 
    opacity: 1; 
}

#info-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    text-align: left;
    color: white;
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 600px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title-container h1 {
    font-size: 24px;
    margin-right: 10px;
}

.title-container small {
    font-size: 14px;
    text-align: right;
    margin-left: auto; 
}

#info-box p {
    margin: 10px 0;
    font-size: 16px;
    text-align: justify;
}

#info-box a {
    color: #3498db;
    text-decoration: underline;
}

.got-it-button {
    background-color: rgb(95, 182, 95);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; 
    display: block; 
    cursor: pointer;
}

.got-it-button:hover {
    background-color: rgb(22, 88, 37); 
}

@media (max-width: 900px) {
    
    .control-container {
        position: fixed;
        bottom: 230px; 
        right: 20px; 
        z-index: 10; 
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .container {
        left: auto;
        right: 20px; 
        transform: none;
    }
}
@media (max-width: 450px) {

    .container {
        right: 10px;
        bottom: 10px;
    }
    .control-container {
        bottom: 195px; 
        right: 10px;
    }
    
    .symmetry-button {
        width: 50px; 
        height: 50px; 
        padding: 10px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        text-align: center;
    }
}

@media (max-width: 450px) {

    .container {
        right: 10px;
        bottom: 10px;
    }
    .control-container {
        bottom: 205px; 
        right: 10px;
    }
    
    .symmetry-button {
        width: 55px; 
        height: 55px; 
        padding: 10px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        text-align: center;
    }
}
@media (max-width: 400px) {

    .container {
        right: 10px;
        bottom: 10px;
    }
    .control-container {
        bottom: 185px; 
        right: 10px;
    }
    
    .symmetry-button {
        width: 48px; 
        height: 48px; 
        padding: 10px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        text-align: center;
    }
}